In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("Complete_student_analysis.csv")
df

,student_id,math_original,science_original,english_original,attendance,math_int8,attendance_float32,weighted_total,math_mean,science_mean,...,grade,bonus_points,final_score,math_original_zscore,science_original_zscore,english_original_zscore,math_original_percentile,science_original_percentile,english_original_percentile,overall_performance
0,1001,82.45,76.70,65.00,71,82,71,76.08,73.4422,79.4485,...,C,0,76.08,0.661,-0.238,-1.706,35.70,60.20,65.00,Needs Improvement
1,1002,72.93,68.88,65.30,90,72,90,69.60,73.4422,79.4485,...,D,0,69.60,-0.038,-0.917,-1.672,45.19,60.37,65.30,Needs Improvement
2,1003,84.72,64.79,65.61,99,84,99,72.97,73.4422,79.4485,...,C,0,72.97,0.828,-1.272,-1.637,45.60,60.66,65.61,Good
3,1004,97.85,73.50,65.91,70,97,70,81.34,73.4422,79.4485,...,B,0,81.34,1.792,-0.516,-1.603,46.30,61.48,65.91,Needs Improvement
4,1005,71.49,97.72,66.21,97,71,97,79.35,73.4422,79.4485,...,C,0,79.35,-0.143,1.585,-1.569,48.55,61.63,66.21,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1096,53.05,69.76,93.79,92,53,92,69.08,73.4422,79.4485,...,D,0,69.08,-1.497,-0.841,1.569,97.85,97.72,93.79,Needs Improvement
96,1097,79.44,98.92,94.09,91,79,91,89.92,73.4422,79.4485,...,B,5,94.92,0.440,1.689,1.603,98.07,98.50,94.09,Excellent
97,1098,78.92,75.72,94.39,88,78,88,81.67,73.4422,79.4485,...,B,0,81.67,0.402,-0.323,1.637,98.47,98.87,94.39,Good
98,1099,75.08,95.68,94.70,94,75,94,87.20,73.4422,79.4485,...,B,5,92.20,0.120,1.408,1.672,98.69,98.92,94.70,Excellent
99,1100,71.48,85.25,95.00,95,71,95,82.18,73.4422,79.4485,...,B,0,82.18,-0.144,0.503,1.706,102.78,99.43,95.00,Good

## 1.convert data math_original to numpy array

In [4]:
math_array = df['math_original'].to_numpy()
print("Math Scores Array:")
print(math_array)

Math Scores Array:
[ 82.45  72.93  84.72  97.85  71.49  71.49  98.69  86.51  67.96  83.14
  68.05  68.01  78.63  46.3   49.13  66.57  59.81  79.71  61.38  53.82
  96.98  71.61  76.01  53.63  66.83  76.66  57.74  80.64  65.99  70.62
  65.97 102.78  74.8   59.13  87.34  56.69  78.13  45.6   55.08  77.95
  86.08  77.57  73.27  70.48  52.82  64.2   68.09  90.86  80.15  48.55
  79.86  69.22  64.85  84.18  90.46  88.97  62.41  70.36  79.97  89.63
  67.81  72.22  58.4   57.06  87.19  95.34  73.92  90.05  80.42  65.32
  80.42  98.07  74.46  98.47  35.7   87.33  76.31  70.51  76.38  45.19
  71.7   80.36  97.17  67.23  62.87  67.47  88.73  79.93  67.05  82.7
  76.46  89.53  64.47  70.09  69.12  53.05  79.44  78.92  75.08  71.48]

## 2.Generate Grade Boundaries Using linspace for science scores

In [8]:
min_score = df['science_original'].min()
max_score = df['science_original'].max()

grade = np.linspace(min_score,max_score,5)
print(grade)

[60.2    70.0075 79.815  89.6225 99.43  ]

## 3.Initialize Digital attendace system with zeroes

In [9]:
num_std = len(df)
attendence = np.zeros(num_std,dtype=int)
attendence

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

## 4.Optimize Memory usage for student Performance grades

In [11]:
print(f"Original 'grade' dtype: {df['grade'].dtype},"f"Memory: {df['grade'].memory_usage(deep=True)}")
print("Before optimization memory usage")
print(df['grade'].memory_usage(deep=True))  # deep check full merory usage where memory use memory me bhi check krega ram me bhi
df['grade'] = df['grade'].astype('category')
print(f"Optimized 'grade' dtype: {df['grade'].dtype}")
print("Memory usage after optimization")
print(df['grade'].memory_usage(deep=True))

Original 'grade' dtype: object,Memory: 5132
Before optimization memory usage
5132
Optimized 'grade' dtype: category
Memory usage after optimization
604

## 5.Optimize storage for math score using Different integer Types

In [12]:
print(f"Original dtype:{df['math_original'].dtype},")
#convert to int8
df['math_int8_fixed'] = df['math_original'].astype(np.int8)
print(f"'math_int8_fixed' dtype:{df['math_int8_fixed'].dtype}"f"Memory: {df['math_int8_fixed'].memory_usage(deep=True)}" )
#convert attendance -> uint8(correct)
df['attendance_unit8'] = df['attendance'].astype(np.uint8)
print(f"'attendance_unit8' dtype: {df['attendance_unit8'].dtype},")

Original dtype:float64,
'math_int8_fixed' dtype:int8Memory: 232
'attendance_unit8' dtype: uint8,

## 6.Explore float Precision with science_original scores

In [15]:
print(f"Original dtype:{df['science_original'].dtype},")  #for machine model we use float 16
df['science_float16_fixed'] = df['science_original'].astype(np.float16)
print(f"'science_float16_fixed' dtype:{df['science_float16_fixed'].dtype}" )

Original dtype:float64,
'science_float16_fixed' dtype:float16

## 7.Optimize memory for attendance data

In [ ]:
print(f"Original dtype:{df['attendance'].dtype},")
df['attendance_unit8'] = df['attendance'].astype(np.uint8)
print(f"'attendance_unit8' dtype: {df['attendance_unit8'].dtype},")

Original dtype:int64,
'attendance_unit8' dtype: uint8,

## 8.Compare Math Scores Between Different Student Group

In [5]:
math_score_by_grade = df.groupby('grade')['math_original'].mean()
print("Average math scores by grade:")
print(math_score_by_grade)

Average math scores by grade:
grade
A    95.667500
B    83.802424
C    70.445532
D    55.320625
Name: math_original, dtype: float64

## 9.Calculate Average Scores with custom weights

In [ ]:
math_weight = 0.4
sciece_weight = 0.3
english_weight = 0.3

df['custom_weighted_score'] = (df['math_original']* math_weight+
                                df['science_original'] * sciece_weight +
                                df['english_original'] * english_weight)

## 10. Compare attendance between different student groups

In [10]:
attendence_by_grade = df.groupby('grade')['attendance'].mean()
print("Average attendance by grade")
print(attendence_by_grade)

Average attendance by grade
grade
A    91.000000
B    84.939394
C    82.957447
D    89.875000
Name: attendance, dtype: float64

### 11.Find class performance metrices from math_original scores

In [11]:
math_score_max = df['math_original'].max()
math_score_min = df['math_original'].min()
math_score_mean = df['math_original'].mean()
math_score_mode = df['math_original'].mode()
print(math_score_max)
print(math_score_min)
print(math_score_mean)
print(math_score_mode)

102.78
35.7
73.44219999999999
0    71.49
1    80.42
Name: math_original, dtype: float64

### 12.Analysis Score Distribution Using science_original data

In [14]:
import matplotlib.pyplot as plt

plt.figure(figsize=(8,6))
plt.hist(df['science_original'],bins=10,edgecolor='black')
plt.title('Distribution of Science scores')
plt.xlabel('science score')
plt.ylabel('Number of students')
plt.grid(axis='y', alpha=0.75)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'